.header {

  background-image: url(images/banner/banner3.png);
  width: 1500px;
  height: 808px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: -40px;

}

.banner-title {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 65px;
  text-align: right;
  color: #FFFFFF;
  padding-left: 860px;
  padding-right: 200px;
  padding-top: 100px;
}

.title-description {
  text-align: right;
  padding-left: 950px;
  padding-right: 200px;
  margin-top: -35px;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}

.btn-primary-container {
  text-align: right;
  padding-right: 200px;
}

.btn-primary {
  font-family: sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #005FAC;
  border: none;
  background: #FFFFFF;
  border-radius: 5px;
  padding: 18px 25px;
  position: absolute;


}

.failure-container {
  display: flex;
}

.background-image {
  margin-left: 180px;
  margin-top: 80px;
}

.failure-title {
  padding-left: 100px;
  padding-right: 250px;
  text-align: left;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  color: #151414;
}

.failure-subtitle {

  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #444343;
  padding-left: 100px;
  padding-right: 160px;
  text-align: left;
}

.failure-description {
  margin-top: 250px;

}

.failure-reasons {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #444343;
  padding-left: 120px;

}

.plan-title {

  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  color: #151414;
  margin-bottom: 50px;
}

.plan {
  text-align: center;
  margin-top: 120px;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 25px;
  color: #151414;
}

.plan-items {
  display: flex;
  gap: 100px;
  padding-left: 220px;
  padding-right: 30px;
}

.skill-title {

  font-family: sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  color: #151414;

}

.skill-name {
  font-family: sans-serif;
  font-weight: 500;
  font-size: 25px;
  text-align: center;
  color: #737272;

}

.icon-web {
  padding-left: 80px;

}

.icon-js {
  padding-left: 20px;

}

.icon-smoke {
  padding-left: 50px;

}

.icon-ecom {
  padding-left: 50px;

}

.container {
  margin-top: 100px;
  background-image: url(images/watch.png);
  background-repeat: no-repeat;
  margin-left: 130px;
  background-size: contain;
  width: 1050px;
  height: 300px;
  padding: 70px 100px 100px 50px;
  font-size: 30px;
  color: #FFFFFF;
  border-radius: 8px;

}

.gradient {
  position: absolute;
  margin-top: -107px;
  margin-left: -50px;
  width: 1140px;
  height: 317px;

}

.gradient-description {

  position: relative;
}

h2 {

  position: inherit;
}