.header {

  background-image: url(images/banner/banner3.png);
  width: 1500px;
  height: 808px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: -40px;

}

.banner-title {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 65px;
  text-align: right;
  color: #FFFFFF;
  padding-left: 860px;
  padding-right: 200px;
  padding-top: 100px;
}

.title-description {
  text-align: right;
  padding-left: 950px;
  padding-right: 200px;
  margin-top: -35px;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}

.btn-primary-container {
  text-align: right;
  padding-right: 200px;
}

.btn-primary {
  font-family: sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #005FAC;
  border: none;
  background: #FFFFFF;
  border-radius: 5px;
  padding: 18px 25px;


}

.failure-container {
  display: flex;
}

.background-image {
  margin-left: 180px;
  margin-top: 80px;
}

.failure-title {
  padding-left: 100px;
  padding-right: 250px;
  text-align: left;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  color: #151414;
}

.failure-subtitle {

  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #444343;
  padding-left: 100px;
  padding-right: 160px;
  text-align: left;
}

.failure-description {
  margin-top: 250px;

}

.failure-reasons {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #444343;
  padding-left: 120px;

}